:root{
    --gray: #333
}

.container{
    margin: 20px;
    border-radius: 8px;
    padding: 16px;
    background: #fff;
}
.table{
    border-collapse: collapse;
    border: 2px solid var(--gray);
}

.cell{
    border: 1px solid #999;
    padding: 0;

}

.cell:nth-child(3),
.cell:nth-child(6){
    border-right: 2px solid var(--gray);
}

.table tr:nth-child(3) .cell,
.table tr:nth-child(6) .cell{
    border-bottom: 2px solid var(--gray);
}



input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 23px;
    border: none;
    outline: none;
    background: #fff;
    color: black;
    cursor: default;
}

input:focus{
    caret-color: transparent;
    background: #78b1eb;
}

.same-row input,
.same-col input,
.same-box input {
    background: #e6f0ff;
}

.selected input {
    background: #78b1eb;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 24px;
    margin-left: 5px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #222;
}

button:active {
    transform: scale(0.97);
}

button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.status {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 2px 25px;
    border-radius: 10px;
    z-index: 1000;
}

.green input{
    background-color: #a6f1a6;
    transition: background-color 0.5s ease;
}